@charset "UTF-8";


div {
	width: 80%;
	margin: 10px auto;
	background-color: rgba(0, 255, 0, 0.5);
}


label {
	display: inline-block;
	width: 100px;
	text-align: right;
}


input {
	border: 1px solid green;
	padding: 8px;
	margin: 10px;
	border-radius: 15px;
}


table {
	border-collapse: collapse;
	border: green;
	width: 80%;
	margin: 10px auto;
}


th, td {
	border: 1px solid green;
}


h1 {
	background-color: rgba(0,255,0,0.5);
	color: white;
	padding: 1.2rem;
	text-align: center;
}


a {
	text-decoration: none;
}


a:hover {
	text-decoration: underline;
	background-color: rgba(0, 0, 255, 0.3);
}

